<!DOCTYPE html>
  {% load feincms_page_tags %} {% load feincms_tags %}
<html>
  <head>
    <style>
  
      ul{
      list-style-image: url('{{ STATIC_URL }}cms/img/bullet.png');
      }
   
      </style>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cms/css/base.css">
    {% endblock %}
    <script>
     {% block scripts %}{% endblock %}
 
   
    </script> 
   {{ feincms_page.content.media }}
    <title>{{feincms_page.title}} - BMIT</title>
    <link REL="SHORTCUT ICON" HREF="{{ STATIC_URL }}cms/img/favicon.ico">
  </head>
  <body>
    <div id="main-wrapper">
      <div id="header">
	<div id="banner">
	
	  <ul id="navigation">
	    {% feincms_nav feincms_page level=1 depth=1 as level %}
	    {% for p in level %}
	    <li><a {% if feincms_page.title = p.title or feincms_page.parent.title = p.title %}class="current"{% endif %} href="{{ p.get_absolute_url }}"><span>{{ p.title|title }}</span></a>
	      {% if p.children.in_navigation %} <ul {% if feincms_page.title = p.title or feincms_page.parent.title = p.title %}id="current"{% endif %} class="nav-submenu">{% endif %}
		{% feincms_nav feincms_page level=1 depth=2 as sublevel %}
		{% for k in sublevel %}
		{% if k.level = 1 and k.parent.title = p.title %}
		<li><a {% if feincms_page.title = p.title or feincms_page.parent.title = p.title %}class="current-sub"{% endif %} href="{{ k.get_absolute_url }}">{{ k.title }}</a></li>
		{% endif %}
		{% endfor %}
		{% if p.children.in_navigation %}</ul>{% endif %}</li>
	    {% endfor %}
	  </ul>
	  <div id="bannerLogo">
	    <a href="http://www.lightsource.ca"> <img src="{{ STATIC_URL }}cms/img/clslogo_white.png" alt="cls"></a>
	    <img src="{{ STATIC_URL }}cms/img/divider.png" alt="">
	    <a href="/"> <img id="bmitlogo" src="{{ STATIC_URL }}cms/img/BMITLogo2.png" alt="BMIT Logo" ></a>
	  </div>
	</div>

	<div class="wrapper">
	  {% block title %}
          <h2>{{feincms_page.title}}</h2>
	  {% endblock %}
	</div>

      </div>
   
      <div id="content-wrapper">
	<div id="content">
	  {% block content %}
	  
	  {% for content in feincms_page.content.main %}
          {% feincms_render_content content request %}
	  {% endfor %}
	  {% endblock %}
	</div>
	
	<div id="sidebar">
	  {% block sidebar %}
	  {% for content in feincms_page.content.sidebar %}
          {% feincms_render_content content request %}
	  {% endfor %}
	  {% endblock %}
	</div>
      </div>
      <div id="push">
      </div>
    </div>
    <div id="footer">
      <div class="wrapper">
	<p>
	  {% load tagging_tags %}{% tagged_objects 'meta_footer_navigation' in page.page as metanav_items %}
	  {% for navpage in metanav_items %}
          <a href="{{ navpage.get_absolute_url }}">{{ navpage.title }}</a> |
	  {% endfor %}
	</p>
      </div>
    </div>
  </body>
</html>
