<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cms/css/base.css">
     {% block scripts %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.10.1.min.js">
   
</script> 
   {{ feincms_page.content.media }}
  </head>
  <body>
    <div id="main-wrapper">
      <div id="header">
	<div id="banner">
	  {% load feincms_page_tags %}
	  <ul id="navigation">
	    {% feincms_nav feincms_page level=1 depth=1 as level %}
	    {% for p in level %}
	    <li><a {% if feincms_page.title = p.title or feincms_page.parent.title = p.title %}class="current"{% endif %} href="{{ p.get_absolute_url }}">{{ p.slug|title }}</a>
	      {% if p.children.in_navigation %} <ul {% if feincms_page.title = p.title or feincms_page.parent.title = p.title %}id="current"{% endif %} class="nav-submenu">{% endif %}
		{% feincms_nav feincms_page level=1 depth=2 as sublevel %}
		{% for k in sublevel %}
		{% if k.level = 1 and k.parent.title = p.title %}
		<li><a {% if feincms_page.title = p.title or feincms_page.parent.title = p.title %}class="current-sub"{% endif %} href="{{ k.get_absolute_url }}">{{ k.title }}</a></li>
		{% endif %}
		{% endfor %}
		{% if p.children.in_navigation %}</ul>{% endif %}</li>
	    {% endfor %}
	  </ul>
	  <div id="bannerLogo">
	    <a href="http://www.lightsource.ca"> <img src="{{ STATIC_URL }}cms/img/clslogo_white.png" alt="cls"></a>
	    <img src="{{ STATIC_URL }}cms/img/divider.png" alt="">
	    <a href="/"> <img src="{{ STATIC_URL }}cms/img/BMITLOGO2.png" alt="BMIT Logo"></a>
	  </div>
	</div>
	<div class="wrapper">
          <h2>{{feincms_page.title}}</h2>
	</div>
      </div>
      {% load feincms_tags %}
      <div id="content">
	{% block content %}
	{% for content in feincms_page.content.main %}
        {% feincms_render_content content request %}
	{% endfor %}
	{% endblock %}
      </div>

      <div id="sidebar">
	{% block sidebar %}
	{% for content in feincms_page.content.sidebar %}
        {% feincms_render_content content request %}
	{% endfor %}
	{% endblock %}
      </div>
      <div id="push">
      </div>
    </div>
    <div id="footer">
      <div class="wrapper">
	<p>
	  {% load tagging_tags %}{% tagged_objects 'meta_footer_navigation' in page.page as metanav_items %}
	  {% for navpage in metanav_items %}
          <a href="{{ navpage.get_absolute_url }}">{{ navpage.title }}</a> |
	  {% endfor %}
	</p>
      </div>
    </div>
  </body>
</html>
