#content{
    width:auto;
}
#column1, #column2, #column3, #column4{
    width: 445px;
    float: left;
    padding: 0px 15px;
    padding-bottom: 5px;
 
}

#column4 {
    width: 445px;
    float: left;
    padding: 0px 15px;
    padding-bottom: 5px;
}

#column2 {
    width: 300px;
    padding-top: 20px;
}

#column3{
    width: 445px;
}

#column1{
    width: 610px;
    padding-left: 0px;
}

.wrapper{
    height: auto;
    overflow: auto;
}

# top-wrapper a{
    
}

#status-container{
    border-top: 1px solid rgb(223, 223, 223);
    width: 940px;
    float: left;
    padding: 10px;
   
}

#status1, #status2{
    width: 460px;
    margin: 0 auto;
    float: left;
}

#status1{
    border-right:1px solid rgb(223, 223, 223);
}