{% extends feincms_page.template.path|default:"base.html" %}
  {% load feincms_page_tags %}

{% block content %}
<div id="bl-main-wrapper" class="beamline-schedule">
  <h3>{{ week.0 }} - {{ week.6 }}</h3>
  <table id="bl-table">
    <caption>
      <a id="prevWeek" href="{% if feincms_page.parent %}{% feincms_parentlink of feincms_page level=1 %}{% else %}/{% endif %}{{ feincms_page.slug}}/{{ previousWeek | date:"Y-m-d"}}">
	<img src="/static/cms/img/leftarrow.png" alt="Previous" title="Previous Week">
      </a>
      <a href="{% if feincms_page.parent %}{% feincms_parentlink of feincms_page level=1 %}{% else %}/{% endif %}{{ feincms_page.slug}}">Current Week</a><a id="nextWeek" href="{% if feincms_page.parent %}{% feincms_parentlink of feincms_page level=1 %}{% else %}/{% endif %}{{ feincms_page.slug}}/{{ nextWeek | date:"Y-m-d" }}">
	<img src="/static/cms/img/rightarrow.png" alt="Next" title="Next Week">
      </a>
    </caption>
    <thead>
      <th>Date</th><th>shift</th><th>05B1-1</th><th>05ID-2</th><th>local contact</th>
      
    </thead>
    {% autoescape off %}
    {{ tableBody }}
    {% endautoescape %}
  </table>

  <div id="calendar" class="beamline-schedule">
  </div>
</div>
<script type="text/javascript">
var d = new Date();
var calendar = document.getElementById("calendar");
var path = '{% if feincms_page.parent %}{% feincms_parentlink of feincms_page level=1 %}{% else %}/{% endif %}{{ feincms_page.slug }}';
var leftarrowpath = {{ STATIC_URL }} + 'cms/img/leftarrow.png';
var rightarrowpath = {{ STATIC_URL }} + 'cms/img/rightarrow.png';

var monthString = ['January',
		   'February',
		   'March',
		   'April',
		   'May',
		   'June',
		   'July',
		   'August',
		   'September',
		   'October',
		   'November',
		   'December'
		  ];

function getFirstDay(year, month){
  
    return new Date(year, month, 1).getDay();
}

/*
 * returns number of days in month
 */
function getNumDays(year, month){
    return new Date(year, month + 1, 0).getDate();
}

function getLastDay(year, month){
    return new Date(year, month, getNumDays(year, month)).getDay();
} 

function nextMonth(){
    d.setMonth(d.getMonth() + 1);
    drawCalendar(d);
}

function prevMonth(){
    d.setMonth(d.getMonth() - 1);
    drawCalendar(d);
}
 
function drawCalendar(date){
    var currentMonth = date.getMonth();
    if(currentMonth < 9)
       var drawMonth = '0' + (currentMonth + 1);
    else
       var drawMonth = (currentMonth + 1);
    var currentYear = date.getFullYear();
    var currentDay = date.getDate();
    var firstDayMonth = getFirstDay(currentYear, currentMonth);
    var lastDayMonth = getNumDays(currentYear, currentMonth);
    var lastDayNum = getLastDay(currentYear, currentMonth);
    
    var calendarString = '<table><caption><a id="prevMonth"  onclick="prevMonth()"><img alt="prev" src="'+ leftarrowpath +'"></a>' 
		       + monthString[currentMonth] + ' ' + currentYear +
		       '<a id="nextMonth"  onclick="nextMonth()"><img alt="next"src="'+ rightarrowpath +'"></a></caption><thead>'+
	'<tr><th>Su</th><th>M</th><th>T</th><th>W</th><th>Th</th><th>F</th><th>Sa</th></tr></thead><tr>';

    for(var i = 0; i < firstDayMonth; i++){
	calendarString += '<td></td>';
    }


    for(var i = firstDayMonth + 1; i <=   lastDayMonth + firstDayMonth; i++){
	var day = i - firstDayMonth;
        if(day < 10)
           linkDay = '0' + day;
        else
           linkDay = day;
        var pathArray = '{{ request.path }}'.split('/');
	calendarString += '<td><a href="'+path+'/'+currentYear+'-'+drawMonth+'-'+linkDay+'">'+day+'</td>';
	if(i % 7 == 0)
	    calendarString += '</tr><tr>';
    }

    for(var i = 0; i < 6 - lastDayNum; i++){
	calendarString += '<td></td>';
    }

    calendarString += '</tr></table>';
    calendar.innerHTML = calendarString;
}
    
drawCalendar(d); 
</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bl_booking/base.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bl_booking/calendar.css">
{% endblock %}
